@using TatilSeyehat.Models.Siniflar
@model List<Hakkimda>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<!DOCTYPE HTML>
<html>

<body>


    <div class="content">
        <div class="wrap">
            <div class="about">
                <h3>About</h3>
                @foreach (var x in Model)
                {
                    <img src="@x.FotoURL" alt="" />

                    <p>@x.Aciklama</p>
                }
            </div>
        </div>
    </div>

</body>
</html>
